<main class="index">
  <header class="masterhead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1 pt-4">404</h1>
      <h3 class="mb-5">
        <em>Something is wrong!</em>
      </h3>
      <a href="/" class="btn btn-primary">Go Home</a>
    </div>
  </header>
</main>