<main class="index">
  <header class="masterhead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1 pt-4">Favorite Links</h1>
      <h3 class="mb-5">
        <em>Store your favorite links</em>
      </h3>
      <a href="/signin" class="btn btn-primary">Let's Start</a>
    </div>
  </header>
</main>